<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservaciones | Sistema Aeroportuario</title>

    <link rel="stylesheet" href="../../Assets/css/admin.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<script>

function abrirEditorReserva() {
    document
        .getElementById("panelReserva")
        .classList.add("active");
}

function cerrarEditorReserva() {
    document
        .getElementById("panelReserva")
        .classList.remove("active");
}

</script>

<body>


    <!-- SIDEBAR -->

    <div class="sidebar">

        <div class="logo">
            <i class="fa-solid fa-plane"></i>
            <h2>Aeropuerto</h2>
        </div>

        <ul>

            <li>
                <a href="admin.html">
                    <i class="fa-solid fa-chart-line"></i>
                    Dashboard
                </a>
            </li>

            <li>
                <a href="aerolineas.html">
                    <i class="fa-solid fa-building"></i>
                    Aerolíneas
                </a>
            </li>

            <li>
                <a href="aeronaves.html">
                    <i class="fa-solid fa-plane-circle-check"></i>
                    Aeronaves
                </a>
            </li>

            <li>
                <a href="rutas.html">
                    <i class="fa-solid fa-route"></i>
                    Rutas
                </a>
            </li>

            <li>
                <a href="vuelos.html">
                    <i class="fa-solid fa-plane-departure"></i>
                    Vuelos
                </a>
            </li>

            <li>
                <a href="pasajeros.html">
                    <i class="fa-solid fa-users"></i>
                    Pasajeros
                </a>
            </li>

            <li>
                <a href="tripulacion.html">
                    <i class="fa-solid fa-user-tie"></i>
                    Tripulación
                </a>
            </li>
                        
            <li>
                <a href="tripulacion_vuelo.html">
                    <i class="fa-solid fa-users-gear"></i>
                    Asignación de Tripulación
                </a>
            </li>

            <li class="active">
                <a href="reservaciones.html">
                    <i class="fa-solid fa-ticket"></i>
                    Reservaciones
                </a>
            </li>

            <li>
                <a href="vistas.html">
                    <i class="fa-solid fa-eye"></i>
                    Vistas SQL
                </a>
            </li>

            <li>
                <a href="procedimientos.html">
                    <i class="fa-solid fa-gears"></i>
                    Procedimientos
                </a>
            </li>

            <li>
                <a href="triggers.html">
                    <i class="fa-solid fa-bolt"></i>
                    Triggers
                </a>
            </li>

            <li>
                <a href="transacciones.html">
                    <i class="fa-solid fa-database"></i>
                    Transacciones
                </a>
            </li>
            
            <li>
                <a href="../../index.html">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Cerrar Sesión
                </a>
            </li>

        </ul>

    </div>

    <!-- CONTENIDO -->

    <main>
        <header>
            <div>
                <h1>Gestión de Reservaciones</h1>
                <p>Administración de boletos y reservas de vuelos</p>
            </div>
            <a href="nueva_reservacion.html" class="btn-primary">
                <i class="fa-solid fa-plus"></i>
                Nueva Reservación
            </a>
        </header>

        <!-- ESTADÍSTICAS -->
        <section class="stats">
            <div class="card">
                <i class="fa-solid fa-ticket"></i>
                <h2 id="cantReservacionesTotales">3,428</h2>
                <p>Reservaciones Totales</p>
            </div>
            <div class="card">
                <i class="fa-solid fa-credit-card"></i>
                <h2 id="cantReservacionesPagadas">2,915</h2>
                <p>Confirmadas</p>
            </div>
            <div class="card">
                <i class="fa-solid fa-clock"></i>
                <h2 id="cantReservacionesPendientes">356</h2>
                <p>Pendientes</p>
            </div>
            <div class="card">
                <i class="fa-solid fa-ban"></i>
                <h2 id="cantReservacionesCanceladas">157</h2>
                <p>Canceladas</p>
            </div>
        </section>

        <!-- TABLA -->
        <section class="table-container">
            <table>
                <thead>
                    <tr>
                        <!-- <th>Reserva</th> -->
                        <th>Pasajero</th>
                        <th>Vuelo</th>
                        <th>Fecha</th>
                        <th>Asiento</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id ="tablaReservaciones">
                    <tr>
                        <!-- <td>RES-1001</td> -->
                        <td id = "reservacion_id" hidden>id</td>
                        <td>Dahlia  Jiménez</td>
                        <td>AM102</td>
                        <td></td>
                        <td>12A</td>
                        <td>$4,250</td>
                        <td>
                            <span class="reservation-status pending-status">
                                Pendiente
                            </span>
                        </td>
                        <td>
                            <button class="btn-edit" onclick="abrirEditorReserva()">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- PANEL EDITAR RESERVACIÓN -->
        <div id="panelReserva" class="edit-panel">
            <div class="edit-header">
                <h2>Editar Reservación</h2>
                <button onclick="cerrarEditorReserva()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <form id="editarReserva" class="edit-form">
                <input type="hidden" id="vuelo_id">
                <input type="hidden" id="pasajero_id">
                <input type="hidden" id="reservacion_id">
                <!-- <label>ID Reservación</label>
                <input type="text" value="RES-1001"> -->

                <div class="form-group">
                    <label>Pasajero</label>
                    <select id="selectPasajero">
                        <option value="">Seleccionar Pasajero</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Vuelo</label>
                    <select id="selectVuelo">
                        <option value="">Seleccionar Vuelo</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Asiento</label>
                    <input type="text" id="inAsiento" placeholder="12A">
                    
                </div>
                <div class="form-group">
                    <label>Clase</label>
                    <select id="selectClase">
                        <option value="">Seleccionar Clase</option>
                        <option>Económica</option>
                        <option>Premium Economy</option>
                        <option>Business</option>
                        <option>Primera Clase</option>
                    </select>

                </div>
                
                
                <label>Total</label>
                <input id="total" type="number" value="4250">
                </select>
                <label>Estado</label>

                <select id="selectEstado">
                    <span class="reservation-status pending-status">Pendiente</span>
                    <span class="reservation-status cancelled-status">Cancelada</span>
                    <span class="reservation-status paid-status">Confirmada</span>
                    <span class="reservation-status paid-status">Utilizada</span>
                </select>

                <button type="submit" class="btn-save">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Guardar Cambios
                </button>
            </form>

        </div>
    </main>


</body>
<script src="../../Assets/JS/Admin/reservas.js"></script>
</html>